
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Petit+Formal+Script&family=Pinyon+Script&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}