.heading{
  color: green;
  background-color: #ddd;
  width: 50%;
  text-align: center;
  padding: 10px;
}
.img{
  width: 200px;
}
.card  {
    margin: 10px;
    width: 200px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px 1px #ddd;
   }
   .text {
    padding: 5px 20px;
   }
   .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }